<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximun-scale=1, user-scalable=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="icon" th:href="@{/img/icono.png}">
    <title>Agregar Empresa</title>
</head>
<body>
<!-- Inicio de contenedor principal -->
<div class="text-center">
  <!-- Inicio de fila principal -->
  <div class="row">
    <!-- Inicio de panel de la izquierda -->
    <div class="col-3 align-items-center" style="background-color:#aaa; height: 100vh">
      <!--espacio para logo -->
      <div class="text-center pt-5 pb-5" style="height: 300px"><img th:src="@{/img/logo.png}" class="rounded"></div>
      <!--espacio para botones del panel izquierdo-->
      <div class="text-center ps-3 pb-3 d-grid gap-2"><a th:href="@{/VerMovimientos}" class="btn btn-dark">Ingresos y Egresos</a></div>
      <div class="text-center ps-3 pb-3 d-grid gap-2"><a th:href="@{/VerEmpleados}" class="btn btn-dark">Usuarios</a></div>
      <div class="text-center ps-3 pb-5 d-grid gap-2"><a th:href="@{/VerEmpresas}" class="btn btn-dark">Empresas</a></div>
    </div>
    <!-- Final de panel de la izquierda -->
    <!-- Inicio espacio de la derecha -->
    <div class="col-9 align-items-center" style="background-color:white; height: 100vh">
  <title>Agregar nueva Empresa - Ciclo3</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    a{
      color:white;
    }
    a:hover {
      color: black;
      text-decoration:none;
    }
  </style>
</head>
<body>

<div class="container">
  <p th:inline="text" class="text-right">User: [[${#httpServletRequest.remoteUser}]]</p>
  <form style="float:right" th:action="@{/doLogout}" method="post">
    <input type="submit" value="Cerrar sesión" />
  </form>


  <h1> Agregue aqui los datos de Empresa</h1>
  <br>
  <!--Crear formulario para llenar los datos de la empresa y guardarlo en el objeto emp -->
  <form th:action="@{/GuardarEmpresa}" th:object="${emp}" method="post">
    <!--Campo para nombre-->
    <div class="row">
      <div class="form-group col-md-12">
        <label class="col-md-3" for="nombre">Nombre de la Empresa:</label>
        <div class="col-md-6">
          <input type="text" th:field="*{nombre}" class="form-control" id="nombre" required="required"></div>
      </div>
    </div>

    <!--Campo para direccion-->
    <div class="row">
      <div class="form-group col-md-12">
        <label class="col-md-3" for="direccion">Direccion de la Empresa:</label>
        <div class="col-md-6">
          <input type="text" th:field="*{direccion}" class="form-control" id="direccion" required="required"></div>
      </div>
    </div>

    <!--Campo para telefono-->
    <div class="row">
      <div class="form-group col-md-12">
        <label class="col-md-3" for="telefono">Telefono de la Empresa:</label>
        <div class="col-md-6">
          <input type="text" th:field="*{telefono}" class="form-control" id="telefono" required="required"></div>
      </div>
    </div>

    <!--Campo para NIT-->
    <div class="row">
      <div class="form-group col-md-12">
        <label class="col-md-3" for="NIT">NIT o RUT de la Empresa:</label>
        <div class="col-md-6">
          <input type="text" th:field="*{NIT}" class="form-control" id="NIT" required="required"></div>
      </div>
    </div>


    <!--Boton para enviar todo y ejecutar accion -->
    <div class="row">
      <div class="col-md-2">
        <button class="btn btn-success">Crear Empresa</button>
      </div>
    </div>

  </form>

  <br>
  <a href="javascript: history.go(-1)" class="btn btn-info" role="button">Atrás</a>

</div>
</body>
</html>