<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Edite Aquí Empresas</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    a {
      color: white;
    }

    a:hover {
      color: black;
      text-decoration: none;
    }
  </style>
</head>
<body>

<div class="container">
  <h1>Ingrese Los Datos</h1>
  <!--Crea formulario para llenar datos de Empresa y los guarda en el objeto emp -->
  <br>
  <form th:action="@{/ActualizarEmpresa}" th:object="${editEmp}" method="post">

     <!--Campo para id -->
    <div class="row">
      <div class="form-group col-md-12">
        <label class="col-md-3" for="id">ID de la Empresa:</label>
        <div class="col-md-6">
          <input type="hidden" th:field="*{idEmpresa}" class="form-control" id="id" required="required">
        </div>
      </div>
    </div>

    <!--Campo para nombre -->
    <div class="row">
      <div class="form-group col-md-12">
        <label class="col-md-3" for="nombre">Nombre de la Empresa:</label>
        <div class="col-md-6">
          <input type="text" th:field="*{nombre}" class="form-control" id="nombre" required="required">
        </div>
      </div>
    </div>
    <!--Campo para direccion -->
    <div class="row">
      <div class="form-group col-md-12">
        <label class="col-md-3" for="nit">Nit de la Empresa:</label>
        <div class="col-md-6">
          <input type="text" th:field="*{nit}" class="form-control" id="nit" required="required">
        </div>
      </div>
    </div>

    <!--Campo para direccion -->
    <div class="row">
      <div class="form-group col-md-12">
        <label class="col-md-3" for="direccion">Direccion de la Empresa:</label>
        <div class="col-md-6">
          <input type="text" th:field="*{direccion}" class="form-control" id="direccion" required="required">
        </div>
      </div>
    </div>

    <!--Campo para telefono -->
    <div class="row">
      <div class="form-group col-md-12">
        <label class="col-md-3" for="telefono">Telefono de la Empresa:</label>
        <div class="col-md-6">
          <input type="text" th:field="*{telefono}" class="form-control" id="telefono" required="required">
        </div>
      </div>
    </div>

    <!--Campo para fechaCreacion -->
    <div class="row">
      <div class="form-group col-md-12">
        <label class="col-md-3" for="fechaCreacion">Fecha Creacion de la Empresa:</label>
        <div class="col-md-6">
          <input type="text" th:field="*{fechaCreacion}" class="form-control" id="fechaCreacion" required="required">
        </div>
      </div>
    </div>

    <!--Crear boton que envia todo y termina-->
    <div class="row">
      <div class="col-md-2">
        <button class="btn btn-success">Crear Empresa</button>
      </div>
    </div>
  </form>
  <br>
  <a href="javascript:history.go(-1)" class="btn btn-info" role="button">Atrás</a>
</div>

</body>
</html>